<link rel="stylesheet" href="style.css">
<canvas width="260" height="260" id="canvas"></canvas>
<input type="file" id="file">
<script src="util.js"></script>
<script src="compiler.js"></script>
<script src="robot.js"></script>
<script src="shell.js"></script>
<script src="arena.js"></script>
<script src="script.js"></script>